p{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;background-color: rgb(254, 186, 1);
}

table{

    background-color: lightgray; ;
}

body{
    color: blue ;
}
body{

    background-image: url("images.jpg");
}
#off {
    border-style: dashed solid;
    border-width: 3px;
    border-color: black;
}
