p{
   font-family:cursive;
   color: black;
   text-decoration-color: white;
   background-color: rgb(254, 186, 1);
    text-shadow: 5px 51px 5px gray ;

}

table{

    background-color: lightgray; ;
}

body{
    color: blue ;
}
body{

    background-image: url("images.jpg");
}
#off {
    border-style:  solid;
    border-width: 5px ;
    border-color: whitesmoke red yellow white;
    border-radius: 5px 0px 5px 0px ;
}
#info{
    border: 2px solid white;
    border-radius: 0px 10px 0px 10px ;
}
#fall{
    margin-left:  500px;  ;
}
.hi{
    margin-left: 500px;
    margin-right: 500px;
    border-style: solid ;
    border-color:  aqua ;
    border-radius: 10px 0px 10px 0px ;
    padding-left: 50px ;
}
